@import 'reset.css';
@import 'component.css';
@import 'part/header.css';
@import 'part/main/nav.css';
@import 'part/main/main.css';




body{
    height: 1000vh;
}
section {
    box-sizing: border-box;
}

.main {
    display: flex;  
}
section {
    width: 100%;
}
section:nth-child(2){
    position: fixed;
}



