
.main_nav {
    height: 100vh;   
    padding: 10px;
    width: inherit;

    
}

.main-btns_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;


}
.main-btns_btn {
    
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
}
.main-btns_btn:hover {
    background-color: rgba(0, 0, 0, 0.121);
    border-radius: 10px;
}
.main-btns_btn i {
    width: 20px
}
.main-btns_btn span {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}
.divisor {
    width: inherit;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.121);

}